<?xml version="1.0" ?>
<robot name="sawyer" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="pedestal" default="true"/>
  <xacro:arg name="static" default="true"/>
  <xacro:arg name="gripah" default="true"/>

  <!-- Sawyer Base URDF -->
  <xacro:include filename="$(find gripah)/urdf/sawyer_mujoco.urdf.xacro">
    <xacro:arg name="pedestal" value="${pedestal}"/>
  </xacro:include>

  <!-- Gripah End Effector -->
  <xacro:if value="$(arg gripah)">
  <xacro:include filename="$(find gripah)/urdf/gripah.urdf.xacro">
  </xacro:include>
  </xacro:if>

</robot>
